* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;

  display: grid;
  align-items: center;
  justify-items: center;

  overflow: hidden;
}

canvas {
  display: block;
}

button {
  border-radius: 500px;
  padding-inline: 1em;
  padding-block: 0.5em;
  border: solid thin white;

  background: white;

  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 0.75rem;

  cursor: pointer;
  transition: all 200ms;

  &:hover {
    background: green;
    color: white;
  }
}

.connected:hover {
  background: #c30000;
  color: white;
}

.bg-btn {
  background: red;
  border: 2px solid blue;
  border-radius:100px;
  padding: 16px 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 300ms;
}

.bg-btn:hover {
  background: white;
  border: 4px solid yellow;
}
